@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap');

/* App.css */
/* .datepicker-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.datepicker-container .react-datepicker-wrapper {
  width: 100%;
}

.datepicker-container .react-datepicker {
  position: absolute;
  z-index: 1000; /* Ensure it's on top of other elements 
}

.react-datepicker__header {
  background-color: #f8f9fa; /* Adjust based on your design 
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  outline: none;
  font-family: 'Comfortaa', sans-serif;
} */

/* html {
  font-size: 62.5%;
} */


/* App.css */
